[submodule "workflows/wdl-common"]
	path = workflows/wdl-common
	url = https://github.com/PacificBiosciences/wdl-common.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/PacificBiosciences/HiFi-human-WGS-WDL.wiki
